<ul class="toc">
  <li>
    <ul>
      <li><span class="chapter">Introduction</span>
        <ol>
          <li><span class="heading">What This Book Is About, And Why You Should Read It</span></li>
          <li><span class="story">I Grew Up Awkward, Shy, And Nerdy. Now My Sex And Romantic Relationship Life Exceeds My Wildest Fantasies</span></li>
          <li><span class="heading">How To Get The Most Out Of This Book</span></li>
          <li><span class="heading">The Obvious Big Disclaimer</span></li>
          <li><span class="heading"><a href="/who-this-book-is-for">Who This Book Is For</a></span></li>
          <li><span class="story">This Book Is Written Bi A Man</span></li>
        </ol>
      </li>
    </ul>
  </li>

  <li class="list-part"><span class="part">Part 1: Core Foundations</span>
    <ol>
      <li><span class="chapter">1. The Basics Of Consent & Play</span>
        <ol>
          <li><span class="heading">What Consent Is, And Why You Want It</span></li>
          <li><span class="heading">Why Consent Is So Difficult, And How It Is Changing For The Better</span></li>
          <li><span class="heading">What We Mean By “Play”</span></li>
          <li><span class="heading">Love Is Not What We Think It Is</span></li>
          <li><span class="heading">And What Is Love First?</span></li>
        </ol>
      </li>
      <li><span class="chapter">2. Relationships 101</span>
        <ol>
          <li><span class="heading">Relationship Types We’ll Focus On</span></li>
          <li><span class="heading">Which Relationship Style Is Right For You</span></li>
          <li><span class="heading">When The Relationship Escalator Breaks, You Don’t Get Stairs</span></li>
          <li><span class="heading">Your Idea Of Romance Is Not Everyone Else’s (And That’s Okay)</span></li>
          <li><span class="heading">Playing In Minefields: The Complex Challenges Of Consent & Power Dynamics</span></li>
          <li><span class="heading">The Radioactive Waste Of The Nuclear Family Model</span></li>
        </ol>
      </li>
      <li><span class="chapter">3. Emotional Intelligence</span>
        <ol>
          <li><span class="heading">The Most Important Relationship Is With Your Soulmate</span></li>
          <li><span class="story">Please Love Yourself—I Learned The Hard Way What Happens When You Don’t</span></li>
          <li><span class="heading">Self-Awareness Is Sexy AF</span></li>
          <li><span class="story">The Truth closet</span></li>
          <li><span class="heading">Practicing Patience Will Always Pay Off</span></li>
          <li><span class="heading">D_n’t F_ll Th_ Bl_nks: Identify Your Assumptions & Biases</span></li>
          <li><span class="heading">Deprogramming Entitlements</span></li>
          <li><span class="story">My First Blowjob Taught Me The Most Valuable Lesson In Sex</span></li>
          <li><span class="heading">How To Apologize The Right Way</span></li>
          <li><span class="story">How I Screwed Up—And Fixed—The Most Significant Relationship Of My Life</span></li>
          <li><span class="story">My Depression Is Like A Guard Dog</span></li>
          <li><span class="heading">How To Square Yourself With Your Privileges And Your Complicity In Unjust Systems</span></li>
        </ol>
      </li>
      <li><span class="chapter">4. The New Identity</span>
        <ol>
          <li><span class="heading">Your Identity Is Not Fixed—So Play With It</span></li>
          <li><span class="story">I Have Three Gender Identities</span></li>
          <li><span class="heading">Why We Need New Models For Masculinity</span></li>
          <li><span class="story">How Toxic Masculinity Almost Killed Me</span></li>
          <li><span class="story">The Venom Of Immaturity</span></li>
          <li><span class="heading">Building Confidence & Charisma</span></li>
          <li><span class="story">How I Got Game, Became Good, And Started Giving (Head)</span></li>
        </ol>
      </li>
    </ol>
  </li>

  <li class="list-part"><span class="part">Part 2: The Art of Playful Escalation</span>
    <ol start="5">
      <li><span class="chapter">5. What is Escalation</span>
        <ol>
          <li><span class="heading">Why You Should Know All Your Escalation Speeds</span></li>
          <li><span class="heading">A New Model For Escalation In Love, Sex & Relationships</span></li>
          <li><span class="heading">From 0 To 60: How To Avoid Hitting A Wall</span></li>
          <li><span class="heading">How To De-Escalate, And Why Everyone Needs To Know This</span></li>
        </ol>
      </li>
      <li><span class="chapter">6. Flirting</span>
        <ol>
          <li><span class="heading">Love – 40: Why Flirting Is (Not) Like Tennis</span></li>
          <li><span class="heading">Everything Is A Game</span></li>
          <li><span class="heading">The Fastest Way To Intimacy & Meaningful Connection</span></li>
          <li><span class="story">How To Have Phenomenal Sex The First Time With Someone New</span></li>
          <li><span class="heading">Better Ways To Show Appreciation</span></li>
          <li><span class="heading">How To Receive No With Grace, Confidence, And Style</span></li>
        </ol>
      </li>
      <li><span class="chapter">7. Dating</span>
        <ol>
          <li><span class="heading">Golden Tips For Dating, From Date 1 to Date 100</span></li>
          <li><span class="heading">The Improv Comedy Rule For Dating</span></li>
          <li><span class="story">EJ Goes To 11</span></li>
          <li><span class="heading">Dating Across Divides: Overcoming Geographic And Ideological Differences</span></li>
          <li><span class="heading">Negotiate Dirty Words With Your Lovers</span></li>
          <li><span class="heading">The Three Strikes Model</span></li>
          <li><span class="heading">Stop Blaming Men</span></li>
        </ol>
      </li>
      <li><span class="chapter">8. Relationships</span>
        <ol>
          <li><span class="heading">The Number 1 Cause Of Breakups</span></li>
          <li><span class="heading">Transitioning Into & Out Of Relationships</span></li>
          <li><span class="heading">Relationship Sync: Getting—And Staying—On The Same Page</span></li>
          <li><span class="heading">Share Dreams & Ambitions With Your Partner</span></li>
          <li><span class="heading">The Benefits And Beauty Of Monogamy</span></li>
          <li><span class="heading">Everyone Should Be “Polyamorous”</span></li>
        </ol>
      </li>
      <li><span class="chapter">9. Sex! (Finally, The Good Stuff)</span>
        <ol>
          <li><span class="heading">Sex, Sexuality, and Sexual Health</span></li>
          <li><span class="story">Winning The Golden Trophy In Sex</span></li>
          <li><span class="heading">Sex-Positivity: Gender vs. Genitalia, Sex Work, Asexuality</span></li>
          <li><span class="heading">Kink, BDSM, And Fetishes: Honor Our Differences</span></li>
          <li><span class="story">Scaring Families With Sex Bruises</span></li>
          <li><span class="heading">STI’s And STD’s — And What You Need To Know About Them</span></li>
          <li><span class="heading">How & Why To Disclose A Positive STI / STD Status</span></li>
          <li><span class="story">How Getting An STD Improved My Sex Life</span></li>
        </ol>
      </li>
    </ol>
  </li>

  <li class="list-part"><span class="part">Part 3: Hard Mode, High reward</span>
    <ol start="10">
      <li><span class="chapter">10. Polyamory & Consensual Non-Monogamy</span>
        <ol>
          <li><span class="heading">The Benefits And Beauty Of Non-Monogamy</span></li>
          <li><span class="story">I Went To Burning Man And Came Back Polyamorous</span></li>
          <li><span class="heading">Polyamory: Relationships in The Fast Lane</span></li>
          <li><span class="story">Doing Polyamory On Hard Mode, Blindfolded</span></li>
          <li><span class="heading">Polycules, Metamours, And Other Useful Terms, Oh My!</span></li>
          <li><span class="heading">How To Open Up Your Committed Monogamous Relationship</span></li>
          <li><span class="story">I Did Literally Everything Wrong When I Tried To Open My Monogamous Relationship</span></li>
          <li><span class="heading">The Challenges In Non-Monogamy No One Talks About</span></li>
          <li><span class="heading">A Word On Polyphobia & Discrimination Against Non-Monogamous People</span></li>
        </ol>
      </li>
      <li><span class="chapter">11. Play Parties (Yes, Orgies)</span>
        <ol>
          <li><span class="heading">From 0 To 100 Without Hitting A Wall</span></li>
          <li><span class="story">How I almost Lost An Eye At An Orgy</span></li>
          <li><span class="heading">Five Key Things To Know Before Going To A Play Party</span></li>
          <li><span class="story">My Year In Sex Parties</span></li>
          <li><span class="heading">The Vices & Virtues Of Play Parties</span></li>
          <li><span class="story">Three Some Ways To The Orgy Dome</span></li>
        </ol>
      </li>
    </ol>
  </li>

  <li><span class="part">Appendix</span>
    <ol>
      <li><span class="chapter">References & Resources</span></li>
      <li><span class="chapter">About Faruk Ateş</span></li>
      <li><span class="chapter">About Consent & Play</span></li>
      <li><span class="chapter">About Love First</span></li>
      <li><span class="story">How This Book Was Made With Love First</span></li>
      <li><span class="chapter">Acknowledgements & Credits</span></li>
    </ol>
  </li>
</ul>
