---
---

@import "{{ site.theme }}";

/* Color variables */

$color-cp-pink: #EA1DDF;
$color-cp-blue: #031B82;
$color-cp-purple: #693796;
$color-cp-lightpink: #FAD1ED;
$color-cp-whitepink: #FEEEFC;
$color-cp-black: #050440;

$color-lf-pink: #FA1982;
$color-lf-white: #FAFAFA;
$color-lf-black: #202835;


/* Cayman Theme Overrides */

@import url('https://fonts.googleapis.com/css?family=Poly:400,400i&display=swap');

.page-header {
    background-color: $color-cp-blue;
    background-image: linear-gradient(120deg, $color-cp-blue, $color-cp-pink);
}

body {
  font-family: 'Poly', "Times New Roman", serif;
}

.main-content {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $color-cp-purple;
  }
}
a {
  color: $color-cp-blue;
  text-decoration: underline;

  &:focus,
  &:hover {
    color: $color-cp-purple;
    text-decoration: none;
  }
  &:active {
    color: $color-cp-black;
  }
}

/* convertkit override */

body .formkit-form[data-uid="67bc28dda4"] {
  background: rgba($color-cp-whitepink, .7);
  font-weight: bold;
  padding: .25rem 1rem;
  border-radius: 1rem;

  .formkit-input {
    box-shadow: 0 2px 4px $color-cp-lightpink;
    border-radius: .25rem;
  }
  .formkit-submit {
    // background: $color-cp-whitepink;
    background: $color-cp-purple;
    border: 1px solid $color-cp-lightpink;
    box-shadow: 0 0 0 1px rgba($color-cp-purple, 0);
    color: $color-cp-whitepink;
    font-weight: bold;
    transition: all .25s ease;

    &:focus,
    &:hover {
      box-shadow: 0 0 0 1px $color-cp-purple;
    }

    &:hover > span,
    &:focus > span {
      background: $color-cp-blue;
      color: lighten($color-cp-whitepink, 42%);
    }
  }
}
