---
---

@import "cayman-adjusted";


/* LF & TAOPE specific styles */

cite {
  font-weight: bold;
  color: $color-cp-purple;
}
b.lf {
  color: $color-lf-pink;
}

h1 a {
  color: $color-lf-white;
  text-decoration: none;

  &:focus,
  &:hover {
    color: $color-cp-lightpink;
    text-decoration: underline;
  }
}
img.mockup {
  width: 32rem;
  @include medium {
    float: left;
    margin-left: -6rem;
    width: 24rem;
  }
  @include large {
    float: left;
    margin-left: -10rem;
    margin-bottom: 2rem;
    width: 36rem;
  }
}
/* Footnotes */
.footnotes {
  border-top: 1px solid transparent;
  border-image:
    linear-gradient(
      to right,
      $color-cp-blue 0,
      $color-cp-pink 20%,
      $color-cp-lightgray 40%,
      rgba($color-cp-lightgray, 0) 60%
    ) 1;
  margin: 3rem 0 1rem;
  padding: .5rem 0;
  font-size: 0.875rem;
  ol {
    padding: 0 0 0 1rem;
  }
  li:target {
    background: lighten($color-cp-pink, 42%);
  }
}
sup {
  display: inline-block;
  padding: 0 3px;
}
article {
  h1, h2, h3 {
    margin-top: 0;
    padding-top: 1rem;
  }
}

/* TOC */
.toc {
  list-style: none;
  margin: 0;
  padding: 0 0 0 10px;

  ul, ol {
    list-style: none;
    margin: 0;
    padding: 0 0 0 1.5rem;
    @include medium { padding-left: 1.0rem; }
    @include small {  padding-left: 0.6rem; }
  }
  .list-part {
    margin-top: 1rem;
  }

  .part {
    color: $color-cp-purple;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 3rem;

    // @include large {  font-size: 1.5rem;  line-height: 3rem; }
    @include medium { font-size: 1.3rem; }
    @include small {  font-size: 1.2rem; }
  }

  .chapter {
    color: $color-cp-black;
    font-size: 1.4rem;
    font-weight: bold;
    margin-top: .8rem;

    @include medium { font-size: 1.3rem; }
    @include small {  font-size: 1.2rem; }
  }

  .heading {
    color: $color-cp-black;
    font-size: 1.25rem;
    margin-top: .4rem;

    @include medium { font-size: 1.2rem; }
    @include small {  font-size: 1.1rem; }
  }

  .story {
    color: $color-lf-gray;
    display: inline-block;
    font-size: 1.2rem;
    font-style: italic;
    margin-left: 1.4rem;
    margin-top: .4rem;

    @include medium { font-size: 1.1rem; }
    @include small {  font-size: 1.0rem; }
  }

  .chapter,
  .heading,
  .story {
    display: block;
    line-height: 2rem;
    @include medium { line-height: 1.6rem; }
    @include small {  line-height: 1.4rem; }
  }
}


/* convertkit override */

body .formkit-form[data-uid="67bc28dda4"] {
  background: rgba($color-cp-whitepink, .7);
  font-weight: bold;
  padding: .25rem 1rem;
  border-radius: 1rem;

  .formkit-input {
    box-shadow: 0 2px 4px $color-cp-lightpink;
    border-radius: .25rem;
  }
  .formkit-submit {
    // background: $color-cp-whitepink;
    background: $color-cp-purple;
    border: 1px solid $color-cp-lightpink;
    box-shadow: 0 0 0 1px rgba($color-cp-purple, 0);
    color: $color-cp-whitepink;
    font-weight: bold;
    transition: all .25s ease;

    &:focus,
    &:hover {
      box-shadow: 0 0 0 1px $color-cp-purple;
    }

    &:hover > span,
    &:focus > span {
      background: $color-cp-blue;
      color: lighten($color-cp-whitepink, 42%);
    }
  }
}
